<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Gamebundle Repository Create</h1>
	</div>

</header>
<div class="container">
	<form name="createForm" novalidate ng-submit="createForm.$valid && submit()">
		<div class="form-group">
			<label>Bundle Name</label>
			<input input type="text" id="bundlename" name="bundlename" class="form-control" placeholder="Enter Bundle Name Here" ng-model="formData.bundlename" required>
			<span class="text-warning" ng-show="createForm.bundlename.$error.required">This field is required!</span>
		</div>
		<div class="form-group">
			<label>Count</label>
			<input type="text" id="count" name="count" class="form-control" placeholder="" ng-model="formData.count" ng-pattern="/^[1-9][0-9]*$/" required>
			<span class="text-warning" ng-show="createForm.count.$error.pattern">Not a valid number!</span>
			<span class="text-warning" ng-show="createForm.count.$error.required">This field is required!</span>
		</div>
		<div class="form-group">
			<label>Merchant Prefix</label>
			<input type="text" id="merchant_prefix" name="merchprefix" class="form-control" placeholder="Enter 5 Character Merchant Prefix Here" ng-model="formData.merchant_prefix" ng-pattern="/^\w{5}$/" required>
			<span class="text-warning" ng-show="createForm.merchprefix.$error.pattern">Not a valid Merchant Prefix! should contain only (0-9) (a-Z)</span>
			<span class="text-warning" ng-show="createForm.merchprefix.$error.required">This field is required!</span>
		</div>
		<div class="form-group">
			<label>Threshold</label>
			<input type="text" id="threshold" name="threshold" class="form-control" placeholder="" ng-model="formData.threshold" ng-pattern="/^([1-9][0-9]?|100)$/" required>
			<span class="text-warning" ng-show="createForm.threshold.$error.pattern">Not a valid number! number has to be between 1 - 100</span>
			<span class="text-warning" ng-show="createForm.threshold.$error.required">This field is required!</span>
		</div>
		<div>
			<label>Gamelist</label>
			<div>
				<select class="form-control" ng-model="selectedItem" ng-options="item.gamename for item in gamelist">
				</select>
				<button type="button" ng-click="addItem()" class="btn">
					Select Gametitle
				</button>
				<div ng-repeat="item in items">
					<div class="col-xs-6">
						{{item.gametitle}}
					</div>
					<div class="col-xs-6">
						<button type="button" ng-click="removeItem($index)" class="btn btn-danger">
							Remove Item
						</button>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
	</form>
</div>
<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Redemption Web Application</a></p>
  </div>
</footer>